@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway:500,800');

:root {
    /*#00b7ff; #ff673d;*/
    --defaultColor: #24cf5f;
    --secondaryColor: #fff;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.left, .right {
    position: fixed;
    display: inline-block;
    width: 50%;
    height: 100%;
    margin-right: -4px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: var(--secondaryColor);
}

.right {
    left: 50%;
    padding: 70px;
    background: var(--defaultColor);
    overflow-y: scroll;
}

.right::-webkit-scrollbar {
    width: 10px;
}

.right::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: var(--defaultColor);
}

.right::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.left {
    background: var(--secondaryColor);
    color: var(--defaultColor);
    overflow-y: scroll;
}

.left::-webkit-scrollbar {
    width: 0px;
}

.left::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: var(--secondaryColor);
}

.left::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.left img {
    height: auto;
    left: 0;
    margin: 0;
    /* min-height: 100%; */
    /* min-width: 674px; */
    padding: 0;
    position: fixed;
    top: 0;
    width: 50%;
    z-index: -1;
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.left img:hover {
    -webkit-filter: grayscale(0);
    filter: none;
}

.header {
    font-size: 30px;
    font-weight: 800;
}

.header .about {
    margin-left: 30%;
    font-size: 20px;
    font-weight: 500;
}

.description {
    font-size: 50px;
    margin-top: 60px;
    font-family: 'Playfair', serif;
    color: #000;
}

footer {
    position: fixed;
    bottom: 0;
    margin-left: -70px;
    padding-left: 70px;
    padding-top: 15px;
    font-weight: 800;
    background: var(--secondaryColor);
    color: var(--defaultColor);
    width: 50%;
    height: 30px;
}

footer .footer-text {
    background-color: var(--defaultColor);
    color: transparent;
    text-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}

.icon {
    height: 50px;
    fill: var(--secondaryColor);
    color: var(--secondaryColor);
    -webkit-transition: -webkit-transform .8s ease-in-out;
            transition:         transform .8s ease-in-out;
}

.mail {
    height: 41px;
    margin-bottom: 3px;
}

.icon:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}

.social {
    margin-top: 30px;
}

a {
    color: inherit;
    text-decoration: none;
}

a img
{
  border: 0 none;
}

.icon-link
{
  text-decoration: none;
}

#posts {
    margin-top: 40px;
    list-style-type: none;
}

.title {
    font-size: 22px;
}

.meta {
    color: black;
    font-family: 'Playfair', serif;
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
}

.post {
    margin: 70px;
}

.post-title {
    font-size: 30px;
}

.post-date {
    font-size: 18px;
}

.content {
    font-family: 'Playfair', serif;
    color: #000;
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
}