<!DOCTYPE html>
<html>
    <head>
        <title>Matheus Almeida</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}css/main.css" />
        <link rel="icon" href="path/to/favicon.png">
    </head>
    <body>
        <div class="left">
        </div>

        <div class="right">

            <div class="header">
                hi bro,<a href="http://matalmeida.github.io"><span class="about">about</span></a>
            </div>

            <div>
                {{content}}
            </div>

            <footer>
                <span class="footer-text">
                    powered by matalmeida - 2017
                </span>
            </footer>
        </div>
    </body>
</html>